{% extends "base.html" %}

{% block title %}Feedback{% endblock %}
{% block nav_title %}Feedback{% endblock %}

{% block body %}
    {{ super() }}
    <div class="main-container">
        <!-- Data table -->
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="column-header first" scope="col">id</th>
                    <th class="column-header" scope="col">Text</th>
                    <th class="column-header" scope="col">Date</th>
                    <th class="column-header" scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for id, feedback_text, date in feedback_data %}
                    <tr>
                        <th class="row-header first" scope="row">{{ id }}</th>
                        <td>{{ feedback_text }}</td>
                        <td>{{ date }}</td>
                        <td>
                            {% if session.get("is_master_admin") %}
                                <a href="{{ url_for('delete_item', table_name='feedbackSubmissions', item_id=id, redirect_func_name='cp_feedback') }}">DELETE</a>
                            {% else %}
                                ~none~
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- End data table -->
    </div>
{% endblock %}