{% extends "base.html" %}

{% block title %}Create new user{% endblock %}
{% block nav_title %}Create new user{% endblock %}

{% block stylesheets %}
    {{ super() }}
    <!-- CSS from https://github.com/ismailkraou/simplelogin
    and modified by me -->
    <link rel="stylesheet" href="static/css/form.css">
{% endblock %}

{% block body %}
    <div class="main-box">
        <div class="box-logo">
            <div class="logo clearfix">
                <h1>
                    Edit user:
                </h1>
                Edit a user's username, password, and master admin permissions.
            </div>
        </div> <!--End Box-Logo-->
        <div class="box-form">
            <form action="{{ url_for('edit_user_process', user_id=profile_data['user_id']) }}", method="POST">
                <input name="username" type="text" value="{{ profile_data['username'] }}" placeholder="Username" required>
                <br>
                <input name="password" type="password" value="{{ profile_data['password'] }}" placeholder="Password" required>
                <br>
                <input name="confirm_password" type="password" value="{{ profile_data['password'] }}" placeholder="Password" required>
                <br>
                <input name="is_master_admin" type="checkbox" {% if profile_data['is_master_admin'] %}checked{% endif %}> Master admin
                <br>
                <input type="submit" value="MODIFY">
            </form>
        </div> <!--End form-->
        <div class="center-children">
            <a class="open-new-page" href="{{ url_for('cp_users') }}"><- Back to main page</a>
        </div>
    </div> <!--End main-box-->
{% endblock %}